// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.glyphicon-plus-sign {
    color: $green;
    cursor: pointer;
}
.header-light {
    color: $table-head-color;
    background-color: $table-head-bg;
    border-color: $table-border-color;
}
