.node rect,
.node circle,
.node ellipse,
.node polygon {
    stroke: #333;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path.path {
    stroke: #333;
    fill: none;
    stroke-width: 1.5px;
}
.svg-container.active {
    display: inline-block;
}
.svg-container {
    display: none;
    position: relative;
    width: 100%;
    padding-bottom: 95%;
    vertical-align: middle;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
g.node a:hover {
    text-decoration: none;
}
g.node.active {
    fill: red;
}
