@media screen and (max-width: 767px) {
    .modal select, .modal input {
        font-size: .8em;
    }
}

html, body {
    height: 100%;
    font-size: 16px !important;
}

h1 {
    border-bottom: 1px solid #acacac;
    font-variant: small-caps;
}

#app > nav.navbar:first-child {
    position: fixed;
    z-index: 10;
    width: 100%;
}

main.py-4 {
    padding-top: 5.5em !important;
}

.title {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #e5e5e5;
}

footer {
    position: absolute !important;
    bottom: 0;
    height: 15%;
}

.fill {
    min-height: 84%;
    height: 84%;
}

.map-block {
    width: 300px;
}

.map-block img {
    width: 100%;
}

.pick-item {
    color: #dc000d;
    padding: .2em 0;
}

.has-money {
    cursor: pointer;
    color: #00a65a;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.action-label-container {
    outline: 1px solid #d4d4d4;
    margin: 0 .3em;
}

.action-label {
    padding: 1px 5px;
}

.effect-name {
    background-color: darkgrey;
    color: white;
    font-weight: bold;
}

.effect-value-add {
    background-color: #09d500;
    color: white;
    margin-left: -3px;
}

.effect-value-sub {
    background-color: #de0500;
    color: white;
    margin-left: -3px;
}

.effect-value-sub:before {
    content: '-';
}

.effect-value-add:before {
    content: '+';
}

.item-name {
    display: inline-block;
    width: 17em;
}

p:not(.help-block) {
    text-indent: 2em;
    margin-bottom: 0 !important;
}

.font-smallest {
    font-size: .5em !important;
}

.font-smaller {
    font-size: .75em !important;
}

.font-bigger {
    font-size: 1.25em !important;
}

.font-biggest {
    font-size: 1.5em !important;
}

.help-block {
    font-size: .8em;
    font-style: italic;
}

.alert {
    font-size: .8em;
}

.alert .glyphicon {
    margin-right: 8px;
    align-self: center;
    font-size: 1.5em;
}

.input-invalid {
    border: 1px solid red;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}

.false-input {
    background-color: white;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

input[type="number"] {
    width: 7em;
}

.modal-header {
    background-color: #bbe3ff;
}

.modal .close.toggle-help {
    position: absolute;
    right: 2.5em;
    top: 16px;
}

.table-reset {
    background-color: white;
}

img.money_icon {
    width: 16px;
    height: 16px;
    margin-top: -5px;
}

.minh-50 {
    min-height: 50%;
}

.x-small {
    font-size: 50%;
}

div.alert.alert-banner {
    position: absolute;
    height: 50px;
    z-index: 1000;
    transform: translate(-50%, -50%);
    left: 50%;
    right: 50%;
    width: 40%;
    top: 3%;
}

div.jq-toast-wrap {
    width: 500px;
}

#stats_story td {
    padding-left: 2em;
    font-size: .8em;
}

.glyphicon-disabled {
    color: grey !important;
    cursor: initial !important;
}

#points_left {
    width: 50px;
    height: 50px;
    padding: 10px;
    line-height: 30px;
    background-color: white;
    border: 1px solid black;
    margin: auto;
}

.required:after {
    content: " *";
    color: red;
}

.font-default-size {
    font-size: 1em !important;
}

.wip-bg {
    background-image: url('../img/wip.png');
    background-repeat: no-repeat;
    background-position: center;
}

.stretched-link {
    color: rgba(0, 0, 0, .9);
}

.stretched-link:hover {
    text-decoration: none;
}

.selected-stretched-link {
    background-color: #dcefff !important;
}

.alternate-rows-colors tr:nth-child(odd) {
    background: #fff;
}

.alternate-rows-colors tr:nth-child(even) {
    background: #e2f0fb;
}

.clickable {
    cursor: pointer;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.icon-trash.disabled {
    background-color: grey;
}

.scrollable-content {
    overflow: auto;
}

.dropdown-menu li {
    height: 3em;
    line-height: 3em;
}

.dropdown-menu > li > a {
    height: 100%;
    line-height: 1.3em;
}

.col-choices .nav-tabs, .col-parents .nav-tabs {
    margin-left: -15px;
    margin-top: -1px;
    margin-bottom: -1px;
}

.right-side {
    margin-left: 0;
}

.left-side {
    margin-right: 0;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

.modal .card.border-secondary {
    border-width: 1px;
}

.modal .card:hover {
    background-color: #f5f5f5;
}

.modal-body-preview .card-header,
.modal-body-preview .card-footer {
    background-color: #d5efff;
}

th.icon-expand:before, th.icon-contract:before {
    content: none;
}

.text-lightgrey {
    color: lightgrey !important;
}

.text-red {
    color: red !important;
}

.hidden {
    display: none !important;
}

div.height-big {
    line-height: 3em;
}

.h-200px {
    height: 200px;
}

.h-600px {
    height: 600px;
}

.button-right {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}

.icon-play.clickable {
    opacity: .7;
}

.icon-play.clickable:hover {
    opacity: 1;

    box-shadow: 0 0 5px 5px rgba(209, 209, 209, 0.6);
    border-radius: 100px;
}

.w-10 {
    width: 10% !important;
}

.w-90 {
    width: 90% !important;
}

.thead-lightblue {
    background-color: #e2f0fb;
}

.nav-item.text-white.nav-link.active {
    background-color: rgba(255, 255, 255, .2);
}

.card-body {
    position: relative;
    padding-top: .1rem !important;
}

.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.dropdown-item.active .select-subtext .text-muted {
    color: white !important;
}

.modal .card-header {
    padding: .25rem 1rem;
}

.highlight-hover:hover {
    background-color: #eee;
}

.fixed-bottom.report-btn {
    width: 250px;
    bottom: 5px;
    left: 5px;
}

a[data-toggle="popover"]:hover, a.clickable:hover {
    border-bottom: 1px dotted darkgrey;
}

.popup-menu {
    position: absolute;
    background-color: #ffffff;
    top: 20px;
    right: 10px;
}
.card.card-no-padding .card-body {
    padding: 0;
}

/* HELP PAGE */
.container-help div.example {
    margin: .5em 0 .5em 1em;
    background-color: #f7f7f7;
    border: 1px solid lightgrey;
    padding: .5em;
}

.container-help h3, .container-help h4 {
    margin-top: .8em;
    margin-bottom: .5em;
}
/* END HELP PAGE */

div.popover.show {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.text-black {
    color: #000 !important;
}

.nav-pills .nav-link:not(.active) .icon {
    color: #3490dc !important;
}
