html, body {
    height: 100%;
}

.story-title {
    padding: 5px;
    margin-bottom: 10px;
}

.bloc {
    border: 1px solid rgba(0, 0, 0, 0.22);
    margin: 3px;
}

footer {
    position: absolute !important;
    bottom: 0;
    height: 15%;
}

.fill {
    min-height: 84%;
    height: 84%;
}

.img-bloc {
    width: 300px;
}

.img-bloc img {
    width: 100%;
}

.pick-item {
    color: #dc000d;
}

.has-money {
    cursor: pointer;
    color: #00a65a;
}

#loadingDiv {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    right: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
