@media screen and (max-width: 767px) {
    .modal select, .modal input {
        font-size: .8em;
    }
}

html, body {
    height: 100%;
    font-size: 16px !important;
}

#app > nav.navbar:first-child {
    position: fixed;
    z-index: 10;
    width: 100%;
}
main.py-4 {
    padding-top: 5.5em !important;
}
.title {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #e5e5e5;
}

.bloc {
    border: 1px solid rgba(0, 0, 0, 0.22);
    margin: 3px;
}

footer {
    position: absolute !important;
    bottom: 0;
    height: 15%;
}

.fill {
    min-height: 84%;
    height: 84%;
}

.map-bloc {
    width: 300px;
}

.map-bloc img {
    width: 100%;
}

.pick-item {
    color: #dc000d;
    padding: .2em 0;
}

.has-money {
    cursor: pointer;
    color: #00a65a;
}

#loadingDiv {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    right: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

td.details-control {
    background: url('/img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/img/details_close.png') no-repeat center center;
}

.action-label-container {
    outline: 1px solid black;
    margin: 0 .3em;
}

.action-label {
    padding: 1px 5px;
}

.effect-name {
    background-color: darkgrey;
    color: white;
    font-weight: bold;
}
.effect-value-add {
    background-color: #09d500;
    color: white;
    margin-left: -3px;
}
.effect-value-sub {
    background-color: #de0500;
    color: white;
    margin-left: -3px;
}
.effect-value-sub:before {
    content: '-';
}
.effect-value-add:before {
    content: '+';
}
.money-symbol {
    background-color: #f1f100;
    color: black;
}
.item-name {
    display: inline-block;
    width: 17em;
}

p.indent {
    text-indent: 2em;
}

.font-small {
    font-size: .5em;
}
.help-block {
    font-size: .8em;
    font-style: italic;
}
.alert .glyphicon {
    margin-right: 8px;
    align-self: center;
    font-size: 1.5em;
}
#addNewPage {
    font-size: 1.5em;
}
.form-control.input-invalid {
    border: 1px solid red;
}
.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}
.col-border-left {
    border-left: 15px solid;
}
.col-border-right {
    border-right: 15px solid;
}
.col-parents {
    border-color: #ffc107;
}
.col-current {
    border-color: #007bff;
}
.col-choices {
    border-color: #28a745;
}
.false-input {
    background-color: white;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
input[type="number"] {
    width: 7em;
}
.modal-header {
    background-color: #bbe3ff;
}
.modal .close.toggle-help {
    position: absolute;
    right: 2.5em;
    top: 16px;
}
