@font-face {
    font-family: 'icomoon';
    src:  url('../font/icomoon/icomoon.eot?q333jx');
    src:  url('../font/icomoon/icomoon.eot?q333jx#iefix') format('embedded-opentype'),
    url('../font/icomoon/icomoon.ttf?q333jx') format('truetype'),
    url('../font/icomoon/icomoon.woff?q333jx') format('woff'),
    url('../font/icomoon/icomoon.svg?q333jx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #414141;

    vertical-align: middle;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-save:before {
    content: "\e901";
}
.icon-papers:before {
    content: "\e902";
}
.icon-chest:before {
    content: "\e900";
}
.icon-jigsaw-piece:before {
    content: "\e909";
}
.icon-unlocking:before {
    content: "\e90a";
}
.icon-trash:before {
    content: "\e903";
}
.icon-contract:before {
    content: "\e904";
}
.icon-expand:before {
    content: "\e905";
}
.icon-treasure-map:before {
    content: "\e906";
}
.icon-path-distance:before {
    content: "\e907";
}
.icon-ninja-heroic-stance:before {
    content: "\e908";
}
.icon-backpack:before {
    content: "\e90b";
}
.icon-receive-money:before {
    content: "\e90c";
}
.icon-pay-money:before {
    content: "\e90d";
}
.icon-fountain-pen:before {
    content: "\e90e";
}
.icon-newspaper:before {
    content: "\e90f";
}
.icon-lightning-tear:before {
    content: "\e910";
}
.icon-breaking-chain:before {
    content: "\e911";
}
.icon-eye:before {
    content: "\e912";
}
.icon-archive-research:before {
    content: "\e913";
}
.icon-choice:before {
    content: "\e914";
}
.icon-warning:before {
    content: "\e915";
}
.icon-help:before {
    content: "\e916";
}
.icon-info:before {
    content: "\e917";
}
.icon-recycle:before {
    content: "\e918";
}
.icon-play:before {
    content: "\e919";
}
.icon-menu-dots:before {
    content: "\e91a";
}
.icon-settings:before {
    content: "\e91b";
}
button {
    vertical-align: middle;
}
.icon-add:before {
    content: "\e91c";
}
