/* Theming */
.t-neutral .spinner__button {
    background: #e8e8e8;
    color: #000;
}

.t-neutral .spinner__button:hover,
.t-neutral .spinner__button:focus,
.t-neutral .spinner__button:active {
    background: #dfdfdf;
}

.t-neutral .spinner__input {
    background: #fff;
}

/* Aggressive reset to remove the initial spinner */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:hover::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* The component (also includes vertical) */
.spinner {
    margin: 0 0 2em 0;
}

.spinner:after {
    clear: both;
    content: "";
    display: table;
}

.spinner__button {
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: 700;
    padding: .7em .5em .7em;
    text-align: center;
    text-decoration: none;
    transition: background 0.4s ease;
    border-color: white;
}

.spinner__button--left {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.spinner__button--right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.spinner__button--top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.spinner__button--bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.spinner--vertical .spinner__button {
    width: 100%;
}

.spinner__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
}

.spinner--horizontal .spinner__input {
    padding: 1em 1em 1.05em 1em;
}

.spinner--vertical .spinner__input {
    padding: .8em .5em .7em .5em;
    width: 100%;
}

.spinner--horizontal .spinner__button {
    float: left;
    width: 25%;
}

.spinner--horizontal .spinner__input {
    float: left;
    width: 50%;
}
